:root {
  --background-normal: #fff;
  --title_color:#000;
  --subtext_purple:rgba(86, 89, 115, 1);
  --border_gray: rgba(226, 229, 241, 1);
  --silicon_purple: hsl(239, 84%, 67%);
  --message_green:rgba(34, 197, 94, 1);
  --background_alt_color: rgba(99, 102, 241, 0.1);
  --footer_color: rgba(147, 151, 173, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* GENERAL VARIABLES AND COLORS*/
.light-theme {
  --background-normal: #fff;
  --title_color:#000;
  --subtext_purple:rgba(86, 89, 115, 1);
  --border_gray: rgba(226, 229, 241, 1);
  --silicon_purple: hsl(239, 84%, 67%);
  --message_green:rgba(34, 197, 94, 1);
  --background_alt_color: rgba(99, 102, 241, 0.1);
  --footer_color: rgba(147, 151, 173, 1);
  --store_bckgrnd: rgba(11, 15, 25, 1);
}
.light-theme .light-show {
  display: block;
}
.light-theme .dark-show {
  display: none;
}

.dark-theme {
  --background-normal:rgba(11, 15, 25, 1);
  --title_color:#fff;
  --subtext_purple:rgba(180, 183, 201, 1);
  --border_gray: rgba(226, 229, 241, 1);
  --silicon_purple: hsl(239, 84%, 67%);
  --message_green:rgba(34, 197, 94, 1);
  --background_alt_color: rgba(99, 102, 241, 0.1);
  --footer_color: rgba(147, 151, 173, 1);
  --store_bckgrnd: rgba(243, 246, 255, 1);
}
.dark-theme .dark-show {
  display: block;
}
.dark-theme .light-show {
  display: none;
}

/*UTILITY*/
body {
  background-color: var(--background-normal);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body li {
  list-style: none;
}
body .seperator{
  border-left: 2px solid var(--subtext_purple);
}
body a {
  text-decoration: none;
  color: var(--subtext_purple);
  font-size: 1em;
  font-weight: 500;
  transition: font-size 0.2s ease;
}
body .links a:hover {
  color: var(--silicon_purple);
  font-size: 1.2em;
}
body header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--background-normal);
  padding: 0 rem;
}
body .navbar {
  height: 60px;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .navbar .links {
  display: flex;
  gap: 1.5rem;
}
body .nav-logo-container {
  display: flex;
  gap: 0.5rem;
}
body .nav-logo-container .icon {
  width: 100%;
}
body .nav-logo-container .logo {
  align-content: center;
  justify-content: center;
}
body .nav-logo-container .logo a {
  color: var(--title_color);
}
body .silicon-icon {
  width: 100%;
}
body .navbar .logo a {
  font-size: 1.5rem;
  font-weight: 600;
}
body .right-navbar-container {
  display: flex;
  gap: 3rem;
}
body .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  scale: 0.75;
}
body .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
body .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-normal);
  transition: 0.4s;
}
body input:checked + .slider {
  background-color: var(--silicon_purple);
}
body input:focus + .slider {
  box-shadow: 0 0 1px var(--silicon_purple);
}
body input:checked + .slider:before {
  transform: translateX(26px);
}
body .slider.round {
  border-radius: 34px;
}
body .slider.round:before {
  border-radius: 50%;
}
body .theme-toggle-container {
  display: flex;
  color: var(--subtext_purple);
  gap: 0.9rem;
  font-size: 0.9rem;
  align-items: center;
}
body .theme-toggle-container button {
  padding: 0.5rem 1rem;
}
body .navbar .toggle_btn {
  color: var(--subtext_purple);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
body .action_btn {
  display: flex;
  gap: 0.5em;
  color: #fff;
  background-color: var(--silicon_purple);
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  transition: scale 0.1s ease;
}
body .action_btn:hover {
  scale: 1.05;
  color: #fff;
}
body .action_btn:active {
  scale: 0.95;
}
body .dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body .dropdown_menu.open {
  height: 285px;
}
body .dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .seperator-dropdown {
  border-top: 1px solid;
  width: 50%;
  margin: 0 auto;
}
body .dropdown_menu li :hover {
  color: var(--silicon_purple);
}
body #action_btn_dropdown {
  display: flex;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 90%;
  justify-content: center;
}
body #hero {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 0 10%;
  background-color: var(--background_alt_color);
  justify-content: space-between;
}
body .hero-container-desktop {
  display: flex;
  justify-content: space-between;
}
body .hero-title-tablet {
  font-size: 2.5em;
  color: var(--title_color);
  text-align: center;
  display: none;
}
body .hero-left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .hero-left-panel-top {
  display: inherit;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
body .hero-left-panel-top h1 {
  color: var(--title_color);
  font-size: 3.5em;
}
body .hero-left-panel-top .hero-description {
  font-size: 1.1em;
  color: var(--subtext_purple);
}
body .hero-left-panel-top .hero-description-mobile {
  display: none;
}
body .hero-left-panel-top .hero-appstore-mobile {
  display: none;
}
body .hero-left-panel-top .hero-appstore {
  display: flex;
  width: 70%;
  gap: 2%;
}
body .hero-left-panel-top .hero-appstore .appstore-icon {
  max-width: 180px;
  max-height: 50px;
}
body .hero-left-panel-top .hero-appstore .appstore-icon img {
  padding: 5% 10%;
  border-radius: 10px;
  background-color: var(--store_bckgrnd);
  cursor: pointer;
  height: 100%;
}
body .discover-button {
  display: flex;
  cursor: pointer;
  color: var(--subtext_purple);
  justify-content: left;
  align-items: center;
  gap: 2%;
  padding-bottom: 5%;
}
body .hero-right-panel {
  width: 50%;
  /* overflow: hidden; */
}
body .hero-right-panel img {
  width: 100%;
}
body #brands {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10%;
  margin: 3.5% 0;
}
body #brands .brand {
  width: 16%;
  border: 1px solid var(--border_gray);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-color: var(--background-normal);
}
body #brands .brand img {
  width: 80%;
  padding: 15% 5%;
}
body #app_features {
  padding: 0 10%;
  background-color: var(--background-normal);
  margin-bottom: 6%;
}
body .features-container {
  display: flex;
  justify-content: space-between;
}
body .features-container .left-features-container {
  width: 25%;
}
body .features-container .right-features-container {
  width: 60%;
}
body .features-container .right-features-container .features-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20%;
  margin-bottom: 3%;
}
body .features-container .right-features-container .features-title-container .features-title {
  color: var(--title_color);
  font-size: 2rem;
}
body .features-container .right-features-container .features-title-container .features-subtitle {
  color: var(--subtext_purple);
  font-size: 1.2rem;
}
body .features-container .right-features-container .features-row-container {
  display: flex;
  flex-direction: column;
}
body .features-container .right-features-container .features-row-container .features-row {
  display: flex;
  flex-direction: row;
  padding: 3% 0%;
  justify-content: space-between;
}
body .features-container .right-features-container .features-row-container .features-row .features-row-item {
  display: flex;
  gap: 5%;
  width: 45%;
}
body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-img {
  max-width: 35%;
  max-height: 50%;
  background-color: var(--background_alt_color);
  border-radius: 10%;
  padding: 2% 2% 0 2%;
  align-content: center;
}
body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-img img {
  height: 70%;
}
body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-text h3 {
  color: var(--title_color);
  font-size: 1.4rem;
}
body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-text p {
  font-size: 1.1rem;
  color: var(--subtext_purple);
}
body #how-does-it-work {
  background-color: var(--background_alt_color);
}
body .hdiw-container {
  margin: 4% 10% 5% 10%;
  display: flex;
  flex-direction: column;
}
body .hdiw-container .hdiw-title {
  font-size: 2rem;
  color: var(--title_color);
  text-align: center;
  padding-bottom: 5%;
}
body .hdiw-container .hdiw-img-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .hdiw-container .hdiw-img-container .hdiw-img {
  display: flex;
  justify-content: center;
  width: 30%;
}
body .hdiw-container .hdiw-img-container .hdiw-img img {
  height: 100%;
}
body .hdiw-container .hdiw-description {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .hdiw-container .hdiw-description .hdiw-description-title {
  padding: 5% 0 1% 0;
  color: var(--title_color);
  font-size: 1.4rem;
}
body .hdiw-container .hdiw-description .hdiw-description-text {
  display: flex;
  margin: 0 auto;
  color: var(--subtext_purple);
  font-size: 1.1rem;
  width: 70%;
}
body #functions {
  margin: 5% 15%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}
body .functions-row-container {
  display: flex;
  justify-content: space-between;
}
body .functions-row-container .functions-row-textbox {
  width: 55%;
  display: flex;
  flex-direction: column;
}
body .functions-row-container .functions-row-textbox .functions-textbox-title {
  font-size: 1rem;
  color: var(--title_color);
  scale: 1.1;
  z-index: 0;
}
body .functions-row-container .functions-row-textbox .functions-textbox-list {
  margin-bottom: 10%;
}
body .functions-row-container .functions-row-textbox .functions-textbox-list li {
  font-size: 1.1em;
  align-items: center;
  color: var(--subtext_purple);
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="%236467f2" d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');
}
body .functions-row-container .functions-row-textbox .functions-textbox-list li::marker {
  color: var(--silicon_purple);
  line-height: 1.5;
  font-size: 1.8em;
}
body .functions-row-container .functions-row-textbox .functions-textbox-items {
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 35%;
  margin: 5% 0;
}
body .functions-row-container .functions-row-textbox .functions-textbox-items .functions-row-icons {
  display: flex;
  justify-content: space-between;
}
body .functions-row-container .functions-row-textbox .functions-textbox-items .functions-row-icons .functions-row-icon {
  width: 45%;
}
body .functions-row-container .functions-row-textbox .functions-textbox-items .functions-row-icons .functions-row-icon img {
  padding: 5%;
  border-radius: 5px;
  background-color: var(--background_alt_color);
}
body .functions-row-container .functions-row-textbox .functions-textbox-items .functions-row-texts {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;
}
body .functions-row-container .functions-row-textbox .functions-textbox-items .functions-row-texts .functions-row-text {
  width: 45%;
  font-size: 1.1rem;
  color: var(--subtext_purple);
}
body .functions-row-container .functions-row-textbox .functions-textbox-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 11vw;
  background-color: var(--silicon_purple);
  padding: 0.7rem 2rem;
  border-radius: 5px;
  color: #fff;
  border: 0;
  font-size: 1.1rem;
  cursor: pointer;
  transition: scale 0.1s ease;
}
body .functions-row-container .functions-row-textbox .functions-textbox-btn button span {
  text-wrap: nowrap;
}
body .functions-row-container .functions-row-textbox .functions-textbox-btn button:hover {
  scale: 1.05;
}
body .functions-row-container .functions-row-textbox .functions-textbox-btn button:active {
  scale: 0.95;
}
body .functions-row-container .functions-row-img {
  width: 49%;
}
body .functions-row-container .functions-row-img img {
  width: 90%;
}
body #reviews {
  display: flex;
  background-color: var(--background_alt_color);
  justify-content: space-between;
}
body .reviews-container {
  margin: 5% 13%;
  height: 100%;
  justify-content: space-between;
  display: flex;
}
body .reviews-container .reviews-title {
  font-size: 1.5em;
  color: var(--title_color);
  width: 28%;
  text-wrap: nowrap;
}
body .reviews-container .reviews-testimonial {
  position: relative;
  bottom: 50px;
  scale: 1;
  width: 32%;
  display: flex;
  flex-direction: column;
}
body .reviews-container .reviews-testimonial .testimonial-quotes {
  position: relative;
  left: 17px;
  top: 40px;
}
body .reviews-container .reviews-testimonial .testimonial-box {
  height: 36vh;
  background-color: var(--background-normal);
  border-radius: 5px;
  padding: 10% 5% 8% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .reviews-container .reviews-testimonial .testimonial-box .testimonial-text {
  color: var(--subtext_purple);
  font-size: 1.1em;
}
body .reviews-container .reviews-testimonial .testimonial-box .testimonial-user {
  position: relative;
  height: 20%;
  display: flex;
  gap: 5%;
}
body .reviews-container .reviews-testimonial .testimonial-box .testimonial-user h4 {
  color: var(--title_color);
}
body .reviews-container .reviews-testimonial .testimonial-box .testimonial-user p {
  font-size: 0.9em;
  color: var(--footer_color);
}
body #FAQ {
  color: var(--background-normal);
  margin: 5% 10%;
  display: flex;
  justify-content: space-between;
}
body .FAQ-tablet-title {
  display: none;
}
body .FAQ-tablet-container {
  display: none;
}
body .FAQ-left-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 4%;
}
body .FAQ-left-container h2 {
  color: var(--title_color);
  font-size: 2.2em;
}
body .FAQ-left-container p {
  color: var(--subtext_purple);
  font-size: 1.2rem;
}
body .FAQ-left-container .left-container-boxes {
  display: flex;
  justify-content: space-between;
}
body .FAQ-left-container .left-container-boxes .contact-box {
  display: flex;
  flex-direction: column;
  width: 48%;
  min-height: 150px;
  max-height: 180px;
  justify-content: space-between;
  padding: 6%;
  border: 1px solid var(--border_gray);
  border-radius: 5px;
}
body .FAQ-left-container .left-container-boxes .contact-box .contact-icon {
  height: 30%;
}
body .FAQ-left-container .left-container-boxes .contact-box .contact-icon img {
  height: 100%;
}
body .FAQ-left-container .left-container-boxes .contact-box p {
  color: var(--subtext_purple);
  font-weight: 400;
  font-size: 1em;
}
body .FAQ-left-container .left-container-boxes .contact-box a {
  display: flex;
  width: 60%;
  gap: 10%;
}
body .FAQ-left-container .left-container-boxes .contact-box a #call {
  color: var(--silicon_purple);
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 0.9em;
}
body .FAQ-left-container .left-container-boxes .contact-box a #message {
  color: var(--message_green);
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 0.9em;
}
body .FAQ-tablet-subtext {
  display: none;
}
body .FAQ-right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
body .FAQ-right-container .accordion-container {
  display: flex;
  max-height: 100%;
  flex-direction: column;
}
body .FAQ-right-container .accordion-container .accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background_alt_color);
  border-radius: 5px;
  color: var(--title_color);
  font-weight: 600;
  cursor: pointer;
  padding: 5%;
  width: 100%;
  max-height: 35%;
  border: none;
  text-align: left;
  font-size: 1em;
  transition: 0.3s ;
  
}
body .FAQ-right-container .accordion-container .accordion-btn .accordion-chevron {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 80px;
  scale: 0.9;
  background-color: var(--background_alt_color);
  border-radius: 50%;
  padding: 0.8rem;
  display: grid;
    i {
      place-items: center;
      scale: 0.8;
    }
}
body .FAQ-right-container .accordion-container .panel {
  padding: 0% 5% 0 5%;
  color: var(--subtext_purple);
  background-color: var(--background_alt_color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;  
  
}



body .FAQ-right-container .accordion-btn {
  cursor: pointer;
  transition: background-color 0.3s ease;
  .rotated {
    transform: rotate(180deg); 
  }
}
body .FAQ-right-container .accordion-container .accordion-btn.active .accordion-chevron{
  background-color: var(--silicon_purple); 
}
body .FAQ-right-container .accordion-container .accordion-chevron .toggle-img {
  transition: transform 0.3s ease;
}

body .FAQ-mobile-button {
  display: none;
}
body #subscribe {
  margin: 0 10% 5% 10%;
  background-color: var(--background_alt_color);
  padding: 4% 5%;
  border-radius: 5px;
}
body .subscribe-tablet-text {
  display: none;
}
body .subscribe-container {
  display: flex;
  justify-content: space-between;
}
body .subscribe-container .subscribe-text-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
body .subscribe-container .subscribe-text-container .subscribe-icon {
  display: flex;
  align-items: center;
  width: 15%;
  height: 100%;
}
body .subscribe-container .subscribe-text-container .subscribe-icon img {
  width: 100%;
}
body .subscribe-container .subscribe-text-container .subscribe-desktop-text {
  display: flex;
  align-items: center;
  width: 82%;
  height: 100%;
  line-height: 40px;
  font-size: 1.4em;
  font-weight: 700;
  color: var(--title_color);
}
body .subscribe-container .subscribe-email-bar {
  display: flex;
  padding: 2%;
  min-height: 40%;
  width: 50%;
}
body .subscribe-container .subscribe-email-bar .email-input {
  width: 70%;
  border: 1px solid var(--border_gray);
  border-radius: 5px;
  background-image: url(../images/subscribe/YourEmail_icon.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding: 12px 20px 12px 40px;
  font-size: 1em;
}
body .subscribe-container .subscribe-email-bar .subscribe-button {
  width: 30%;
  position: relative;
  border: 1px solid var(--border_gray);
  right: 5px;
  background-color: var(--silicon_purple);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 0.1 ease;
  font-size: 1.1em;
  font-weight: 500;
}
body .subscribe-container .subscribe-email-bar .subscribe-button:hover {
  scale: 1.05;
}
body .subscribe-container .subscribe-email-bar .subscribe-button:active {
  scale: 1;
}
body .footer {
  margin-top: auto;
  text-align: center;
  padding: 3% 0;
  color: var(--footer_color);
}
body .mobile-footer {
  display: none;
}
@media (max-width: 1250px) {
  body {
    /*NAV BAR*/
    /*HERO SECTION*/
    /* BRANDS SECTION */
    /*APP FEATURES SECTION*/
    /*HDIW SECTION*/
    /*FUNCTIONS SECTION*/
    /*REVIEWS SECTION*/
    /*FAQ*/
    /*SUBSCRIBE SECTION*/
  }
  body header {
    background-color: var(--background-normal);
  }
  body .navbar .links,
  body .action_btn {
    display: none;
  }
  body .navbar .toggle_btn {
    display: block;
  }
  body .dropdown_menu {
    display: block;
  }
  body .dropdown_menu #dropdown-reviews {
    display: none;
  }
  body #hero {
    padding-top: 10%;
  }
  body .hero-left-panel {
    max-width: 400px;
  }
  body .hero-right-panel {
    max-width: 400px;
  }
  body .hero-right-panel img {
    width: 100%;
    margin-top: 7.5%;
  }
  body .hero-title {
    display: none;
  }
  body .hero-title-tablet {
    display: block;
  }
  body .hero-title-tablet h1 {
    font-size: 1.2em;
  }
  body .hero-description {
    font-size: 1.3rem;
    color: var(--subtext_purple);
  }
  body .hero-appstore {
    width: 87%;
  }
  body #brands .brand-5 {
    display: none;
  }
  body #brands .brand-6 {
    display: none;
  }
  body .features-container {
    justify-content: center;
  }
  body .features-container .left-features-container {
    display: none;
  }
  body .features-container .right-features-container {
    width: 100%;
  }
  body .features-container .right-features-container .features-title-container {
    text-align: center;
  }
  body .hdiw-img-container .hdiw-img img {
    width: 90%;
  }
  body #functions {
    display: none;
  }
  body #reviews {
    display: none;
  }
  body #FAQ {
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
  }
  body .FAQ-desktop-title {
    display: none;
  }
  body .FAQ-desktop-subtext {
    display: none;
  }
  body .FAQ-tablet-title {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
  }
  body .FAQ-tablet-title h2 {
    color: var(--title_color);
    text-align: center;
    font-size: 3em;
    margin-bottom: 8%;
  }
  body .FAQ-left-container {
    display: none;
  }
  body .FAQ-right-container {
    width: 100%;
    min-height: 70vh;
    justify-content: space-between;
  }
  body .FAQ-right-container .accordion-container .accordion-btn {
    padding: 1% 3%;
    max-height: 10vh;
    font-size: 1.4em;
    .accordion-chevron {
      scale: 0.8;
    }
  }
  body .FAQ-right-container .accordion-container .panel {
    font-size: 1.1rem;
  }
  body .FAQ-tablet-subtext {
    display: block;
    text-align: center;
    color: var(--subtext_purple);
    font-size: 1.3rem;
    padding: 5% 0;
  }
  body .FAQ-tablet-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
  }
  body .FAQ-tablet-container .left-container-boxes {
    width: 200%;
    display: flex;
    justify-content: space-between;
  }
  body .FAQ-tablet-container .left-container-boxes .contact-box {
    display: flex;
    flex-direction: column;
    width: 48%;
    min-height: 180px;
    max-height: 180px;
    justify-content: space-between;
    padding: 4%;
    border: 1px solid var(--border_gray);
    border-radius: 5px;
  }
  body .FAQ-tablet-container .left-container-boxes .contact-box .contact-icon {
    height: 30%;
  }
  body .FAQ-tablet-container .left-container-boxes .contact-box .contact-icon img {
    height: 100%;
  }
  body .FAQ-tablet-container .left-container-boxes .contact-box p {
    color: var(--subtext_purple);
    font-weight: 400;
    font-size: 1.3em;
  }
  body .FAQ-tablet-container .left-container-boxes .contact-box a {
    display: flex;
    width: 60%;
    gap: 10%;
  }
  body .FAQ-tablet-container .left-container-boxes .contact-box a #call {
    color: var(--silicon_purple);
    text-wrap: nowrap;
    font-weight: 600;
    font-size: 1.2em;
  }
  body .FAQ-tablet-container .left-container-boxes .contact-box a #message {
    color: var(--message_green);
    text-wrap: nowrap;
    font-weight: 600;
    font-size: 1.1em;
  }
  body #subscribe {
    padding: 5% 3%;
  }
  body .subscribe-container .subscribe-text-container .subscribe-icon {
    width: 30%;
  }
  body .subscribe-container .subscribe-text-container .subscribe-desktop-text {
    display: none;
  }
  body .subscribe-container .subscribe-text-container .subscribe-tablet-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 80%;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--title_color);
  }
  body .subscribe-container .subscribe-email-bar {
    padding: 3%;
  }
  body .subscribe-container .subscribe-email-bar .email-input {
    background-image: url(../images/subscribe/YourEmail_icon.svg);
    padding: 12px 40px 12px 40px;
    font-size: 0.9rem;
  }
  body .subscribe-container .subscribe-email-bar .subscribe-button {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  body {

  }
  body .color-theme {
    display: none;
  }
  body .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  body .right-navbar-container {
    gap: 1.5rem;
  }
  body #hero {
    background-color: var(--background-normal);
    margin-bottom: 15%;
  }
  body #hero h1 {
    margin-top: 10%;
  }
  body .hero-right-panel {
    display: none;
  }
  body .hero-title-tablet {
    font-size: 1.5em;
  }
  body .hero-container-desktop {
    margin: 0 auto;
    display: flex;
    padding: 0;
  }
  body .hero-left-panel {
    width: 100%;
  }
  body .hero-left-panel .hero-description {
    display: none;
  }
  body .hero-left-panel .hero-description-mobile {
    display: block;
    text-align: center;
    font-size: 1em;
    color: var(--subtext_purple);
    margin: 10% 0;
  }
  body .hero-left-panel .hero-appstore {
    display: none;
  }
  body .hero-left-panel .discover-button {
    margin-top: 10%;
    justify-content: center;
  }
  body .hero-left-panel .hero-appstore-mobile {
    display: flex;
    flex-direction: column;
    gap: 10%;
  }
  body .hero-left-panel .hero-appstore-mobile .appstore-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 10%;
    border-radius: 10px;
    background-color: var(--store_bckgrnd);
  }
  body .hero-left-panel .hero-appstore-mobile .appstore-icon img {
    height: 100%;
    cursor: pointer;
  }
  body #brands {
    display: none;
  }
  body #app_features {
    margin-bottom: 10%;
  }
  body #app_features h1 {
    font-size: 1.8rem;
  }
  body .features-container .right-features-container .features-row-container .features-row {
    flex-direction: column;
    align-items: center;
  }
  body .features-container .right-features-container .features-row-container .features-row .features-row-item {
    width: 100%;
    height: 30%;
    justify-content: space-between;
    margin-top: 8%;
    gap: 10%;
  }
  body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-img {
    height: 60%;
    align-items: center;
  }
  body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-img img {
    height: 30%;
  }
  body .features-container .right-features-container .features-row-container .features-row .features-row-item .features-row-item-text p {
    font-size: 1rem;
  }
  body .hdiw-img-container .hdiw-img {
    width: 50%;
    margin: 0 auto;
  }
  body .hdiw-img-container #phone1 {
    display: none;
  }
  body .hdiw-img-container #phone3 {
    display: none;
  }
  body .hdiw-img-container #phone2 {
    width: 80%;
  }
  body .hdiw-container .hdiw-title {
    padding: 13% 0;
    font-size: 1.3rem;
  }
  body .hdiw-container .hdiw-description .hdiw-description-title {
    padding-top: 8%;
    font-size: 1.3rem;
  }
  body .hdiw-container .hdiw-description .hdiw-description-text {
    width: 90%;
  }
  body #functions {
    display: none;
  }
  body #reviews {
    display: none;
  }
  body .FAQ-tablet-title {
    padding: 5% 0;
  }
  body .FAQ-tablet-title h2 {
    font-size: 1.6rem;
  }
  body .FAQ-tablet-container {
    display: none;
  }
  body .FAQ-right-container {
    min-height: 60vh;
  }
  body .FAQ-right-container .accordion-container {
    border: 1px solid var(--footer_color);
    border-radius: 5px;
  }
  body .FAQ-right-container .accordion-container .accordion-btn {
    font-size: 1rem;
    .accordion-chevron {
      scale: 0.7;
    }
  }
  body .FAQ-right-container .accordion-container .panel {
    font-size: 0.8rem;
  }
  body .FAQ-tablet-subtext {
    padding: 10% 0;
  }
  body .FAQ-tablet-subtext {
    font-size: 1em;
  }
  body .FAQ-mobile-button {
    display: block;
  }
  body .FAQ-mobile-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: var(--silicon_purple);
    padding: 8%;
    border-radius: 5px;
    color: #fff;
    border: 0;
    font-size: 1.1em;
    margin-top: 30%;
    cursor: pointer;
    transition: scale 0.1s ease;
  }
  body .FAQ-mobile-button button span {
    text-wrap: nowrap;
  }
  body .FAQ-mobile-button button:hover {
    scale: 1.05;
  }
  body .FAQ-mobile-button button:active {
    scale: 0.95;
  }
  body .subscribe-container {
    flex-direction: column;
    align-items: center;
    height: 25vh;
  }
  body .subscribe-container .subscribe-text-container {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  body .subscribe-container .subscribe-text-container .subscribe-icon {
    width: 30%;
  }
  body .subscribe-container .subscribe-text-container .subscribe-icon img {
    height: 100%;
  }
  body .subscribe-container .subscribe-text-container .subscribe-tablet-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    line-height: 120%;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--title_color);
  }
  body .subscribe-container .subscribe-email-bar {
    height: 30%;
    width: 100%;
    padding: 4%;
    font-size: 0.9rem;
  }
  body .subscribe-container .subscribe-email-bar .email-input {
    background-image: url(public\images\subscribe\YourEmail_icon.svgg);
    padding: 12px 40px 12px 40px;
  }
  body .subscribe-container .subscribe-email-bar .subscribe-button {
    font-size: 0.8rem;
  }
  body .desktop-footer {
    display: none;
  }
  body .mobile-footer {
    display: block;
  }
}